<h4>Daily Tasks</h4>
<div class="tasks" *ngIf="tasks.length">
  <h5 class="text-secondary">In Progress</h5>
  <div class="d-flex flex-wrap">
    <ng-container *ngFor="let task of tasks; let i = index">
      <app-task-item
        *ngIf="!task.done && task.priority === 'High'"
        [task]="task"
        [index]="i"
      ></app-task-item>
    </ng-container>
  </div>
  <div class="d-flex flex-wrap">
    <ng-container *ngFor="let task of tasks; let i = index">
      <app-task-item
        *ngIf="!task.done && task.priority === 'Medium'"
        [task]="task"
        [index]="i"
      ></app-task-item>
    </ng-container>
  </div>
  <div class="d-flex flex-wrap">
    <ng-container *ngFor="let task of tasks; let i = index">
      <app-task-item
        *ngIf="!task.done && task.priority === 'Low'"
        [task]="task"
        [index]="i"
      ></app-task-item>
    </ng-container>
  </div>
  <h5 class="text-secondary">Done</h5>
  <div class="d-flex flex-wrap">
    <ng-container *ngFor="let task of tasks; let i = index">
      <app-task-item
        *ngIf="task.done"
        [task]="task"
        [index]="i"
      ></app-task-item>
    </ng-container>
  </div>
</div>
