.taskItem {
  width: 200px;
  line-height: 1;
}

.done {
  background-color: rgba(49, 222, 105, 0.1);
}

.low {
  background-color: rgba(28, 142, 255, 0.1);
}

.medium {
  background-color: rgba(252, 216, 54, 0.1);
}

.high {
  background-color: rgba(255, 88, 50, 0.1);
}
